@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.sg-title {
    font-size: 1.7rem;
    font-weight: 400;
    color: #333;
    margin: 1rem 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.sg-subtitle {
    font-size: 1rem;
    border-bottom: solid 1px #aaa;
    font-weight: 400;
    color: #666;
    text-transform: uppercase;
    margin: 2rem 0 .5rem 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.components {
    margin-top: 5.5rem;
}

/* ---------- KLEUREN ---------- */

.container>p#c-main {
    background-color: #CF8B69;
}

.container>p#c-secondary {
    background-color: #824F35;
}

.container>p#c-tertiary {
    background-color: #FFBD9C;
}

.container>p#c-quaternary {
    background-color: #69CFC7;
}

/* ---------- TYPOGRAFIE ---------- */
p#t-main {
    font-family: 'Comfortaa';
}

p#t-secondary {
    font-family: 'Segoe UI';
}

/* ---------- KNOPPEN ---------- */
.knoppen {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 5px;
    width: 120px;
    float: left;
}

button:active {
    padding: 5px;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, .3);
}

button:hover {
    font-size: 12pt;
}

/* ---------- FORMULIER ---------- */
form>h3 {
    color: #824F35;
    width: 20%;
}

.form-row {
    padding: 10px 0;
    display: flex;
    width: 31%;
}

.form-row label {
    padding-right: 10px;
    color: #CF8B69;
}

.form-row input {
    flex: 1;
    border: 1px #FFBD9C solid;
    border-radius: 5px;
}

label {
    width: 180px;
    clear: left;
    text-align: left;
    padding-right: 10px;
}

input,
label {
    float: left;
}

.form-row:nth-child(6)>input {
    padding-left: 13px;
}

input.moreSpace {
    height: 40px;
}

.fa-asterisk {
    color: #f00;
    font-size: 8px;
}

sub {
    bottom: 0.75em;
}

.btnReserveer {
    background: #FFBD9C;
    border-radius: 5px;
    opacity: 0.55;
    border: #CE8B69 1pt solid;
    height: 40px;
    width: 13%;
    margin-bottom: 20px;
}

.btnBestel {
    background: #FFBD9C;
    border-radius: 5px;
    opacity: 0.55;
    border: #CE8B69 1pt solid;
    height: 40px;
    width: 13%;
}

/* ---------- COMPONENTEN ---------- */
.fa-angle-right {
    color: #FFBD9C;
    text-shadow: 0.1px 0.1px 1px #000;
    font-size: 20px;
}

.fa-phone {
    transform: scale(-1, 1)
}

.fa-bus,
.fa-car,
.fa-bicycle {
    font-size: 30px;
    color: #824F35;
}

.fa-info-circle {
    font-size: 20px;
    color: #CF8B69;
}